/*!
Theme Name: wegwijsdag
Theme URI: http://underscores.me/
Author: Online Media Koffer
Author URI: https://onlinemediakoffer.nl
Description: Online communication company
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wegwijsdag
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

wegwijsdag is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

@import "sass/susy";
@import "typo.scss";

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1200px */
  container: 1200px,
  gutters: 0.3,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
 );
/*--------------------------------------------------------------
# Standaarden
--------------------------------------------------------------*/
$wwd-purple: #331e8a;
$wwd-blue: #039de0;
$wwd-darkerBlue: #006b8e;
$wwd-orange: #fab310;
$wwd-green: #a7c949;
$wwd-yellow: #e8b22b;
$wwd-pink: #ca478c;


%sectionPaddings{
	padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 960px) {
    	padding-left: 30px;
    	padding-right: 30px;
    }

    @media screen and (max-width: 500px) {
    	padding-left: 10px;
    	padding-right: 10px;
    }

}
.contentItems{
	display: flex;
	flex-wrap: wrap;
	justify-items: stretch;
    justify-content: space-between;

	.item{
		width: 48%;
		background: #ffffff;
		margin-bottom: 4%;
		display: flex;
		justify-items: stretch;

		@media screen and (max-width: 500px) {
			width: 100%;
		}

		&.green{
			h3{
				color: $wwd-green;
			}
			.itemArrow{
				background-color: $wwd-green;
			}
		}
		&.orange{
			h3{
				color: $wwd-orange;
			}
			.itemArrow{
				background-color: $wwd-orange;
			}
		}
		&.purple{
			h3{
				color: $wwd-purple;
			}
			.itemArrow{
				background-color: $wwd-purple;
			}
		}

		.itemArrow{
			min-width: 20px;
			background: #555555;
			position:relative;
			overflow: hidden;

			.arrow{
				background: url('./images/arrow.svg') no-repeat;
				background-position: top right;
				position: absolute;
			    top: 0;
			    right:-1px;
			    bottom: -3px;
			    left: 0;
			}
		}
		.itemContent{
			padding: 22px 34px 30px 14px;
		}
	}
}
.menu{
	list-style-type:none;

	li{
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;

		a{
			font-family: $titleFont;
			@include font-weight-bold;
			color: #000000;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
.btn, button{
	background: #ffffff;
	padding: 5px 9px;
	text-decoration:none;

	&.big{
		padding: 15px 19px;
	}

	&.arrow-right:after{
		content: '\e802';
		font-family: "wegwijsdag-icons";
		margin-left: 10px;
	}
	&.arrow-left:before{
		content: '\e800';
		font-family: "wegwijsdag-icons";
		margin-right: 10px;
	}

	&.pink{
		color: $wwd-pink;

		&:hover{
			background: $wwd-pink;
			color: #ffffff;
			cursor: pointer;
		}
	}
	&.yellow{
		color: $wwd-yellow;

		&:hover{
			background: $wwd-yellow;
			color: #ffffff;
			cursor: pointer;
		}
	}
	&.blue{
		color: $wwd-blue;

		&:hover{
			background: $wwd-blue;
			color: #ffffff;
			cursor: pointer;
		}
	}
	&.green{
		color: $wwd-green;

		&:hover{
			background: $wwd-green;
			color: #ffffff;
			cursor: pointer;
		}
	}
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.site{
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 12px 0px #dad9d9;
    box-shadow: 0px 0px 12px 0px #dad9d9;
    overflow: hidden;
}


body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}
p{
	color: #575756;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #000000;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #f6f6f6;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 0 0;
}

ul {
	list-style: disc;

    -webkit-padding-start: 0px;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header.site-header{
	@extend %sectionPaddings;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #ffffff;

	&:after{
		content: "";
		clear: both; 
		display: block;
	}
	.site-branding{
		@include span(2 of 12);
		
		a{
			text-decoration: none;
			display: block;
    		width: 150px;
		}

		img{
			max-height: 100%;
		}
	}
	#site-navigation{
		@include span(8 of 12);
		text-align: center;
		margin-top: 37px;

		@media screen and (max-width: 1080px){
			display: none;
		}

		a{
			&:hover{
    			border-bottom: 1px solid $wwd-green;
    			color: $wwd-green;
    		}
    	}
    	li.menu-item-114{
    		display: none;
    	}
    	li.current-menu-item a{
    		border-bottom: 1px solid $wwd-green;
    		color: $wwd-green;
    	}
    	ul.sub-menu{
    	 	display: none;
    	}
	}
	.playButtonHeader{
		@include span(last 2 of 12);
		text-align: right;

		@media screen and (max-width: 1080px){
			@include span(last 10 of 12);
		}

		a.playButtonHeaderHyperlink{
			display: block;
			height: 70px;
			margin-top: 20px;

			@media screen and (max-width: 1080px){
				display: inline-block;
				height: 60px;
				margin-top: 15px;
				margin-right: 20px;
			}

			@media screen and (max-width: 550px){
				display: none;
			}

			&:hover{
				height: 72px;
    			margin-top: 9px;
    			margin-left: -1px;
    			cursor: pointer;
			}

			img{
				max-height: 100%;
			}
		}

		.shiftnav-toggle-button{
			display: none;
			color: white;
			margin-top: 23px;
			background: $wwd-blue;
			width: 100%;
			@include font-size-h4;

			@media screen and (max-width: 1080px){
				display: block;
				width: 116px;
				float: right;
			}

			@media screen and (max-width: 768px){
				width: 110px;
			}
		}
	}
}

.site-content{
	@extend %sectionPaddings;
	background: url('./images/headers/normal-bg.png') no-repeat center top;

	.content-area{
		margin-top: 59px;

		h1{
			color: $wwd-blue;
		}
		.topContent{
			@include span(6 of 12);

			@media screen and (max-width: 768px){
				@include span(8 of 12);
			}

			@media screen and (max-width: 500px){
				@include span(12 of 12);
			}

			a{
				color: $wwd-blue;

				&:hover{
					color: $wwd-green;
				}
			}
			ul{
				-webkit-margin-before: 0em;
    			-webkit-margin-after: 0em;
    			list-style-type: none;
    			color: #575756;
    			margin-bottom: 20px;

    			li{
    				padding-left: 15px;

    				&:before{
    					content: '+';
    				    margin-left: -15px;
    					margin-right: 10px;
    				}
    			}
			}
		}
		.rightContent{
			@include span(last 6 of 12);
			text-align: center;
			margin-top: -30px;

			@media screen and (max-width: 768px){
				@include span(last 4 of 12);
			}

			@media screen and (max-width: 500px){
				display: none;
			}
		}
	}
	.titleItemWide{
		width: 100%;
		text-align: center;
		margin-bottom: 18px;
	}
}
.contentTop{
	background: #ffffff;
	padding: 0px 75px 0px 75px;
	text-align:center;


	@media screen and (max-width: 900px){
		padding: 0px 0px 0px 0px;
	}
	@media screen and (max-width: 960px){
		display:none;
	}
	.widget-area{
		border-top: 1px solid #f3f3f3;
	}
	.widget{
		margin-bottom: 0px;
	}

	div.subMenu{

		ul{
			margin:0px;
			list-style-type: none;
			-webkit-margin-before: 0em;
		    -webkit-margin-after: 0em;
		    -webkit-margin-start: 0px;
		    -webkit-margin-end: 0px;
		    -webkit-padding-start: 0px;

		    li{
		    	display: inline-block;
		    	margin-right: 0px;
				padding-left: 0px;
    			padding-right: 0px;

		    	a{
		    		color: #333333; 
		    		padding: 13px 15px 16px 15px;
	    			display: inline-block;
	    			text-decoration: none;

	    			b,strong{
	    				font-weight: 500;
	    			}
		    	}
		    	&.current_page_item a,
		    	&:hover a{
		    		background: #ffffff;
		    		color: $wwd-green;
		    	}
		    }
		}
	}
}
/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.home{
	#content.site-content{
		background: url(./images/homepagecover.png) no-repeat;
		background-size: cover;
		background-position-y: -95px;
		position: relative;


		@media screen and (max-width: 768px){
    		background-position-y: -65px;
    	}

		@media screen and (max-width: 500px){
    		background-size: inherit;
    	}
	}
	.homeHeaderPeople{
		height: 400px;
		width: 300px;
		background: url(./images/boerStewardes.png) no-repeat;
		position: absolute;
		top: 10%;
    	left: 10%;

    	@media screen and (max-width: 960px){
    		left: 5%;
    	}

    	@media screen and (max-width: 768px){
    		display: none;
    	}
	}

	.homepageHeaderButtons{
		margin-left: 40%;
	    padding-top: 97px;
	    margin-bottom: 220px;
	    text-align: center;

	    @media screen and (max-width: 768px){
	    	padding-top: 25px;
    		margin: 0px auto;
    		padding-bottom: 100px;
    	}

		.btn-bigButton{
			display: inline-block;
			width: 480px;
			height: 100px;

			@media screen and (max-width: 768px){
		    	width: 90%;
	    	}
		}
		.btn-ghost{
			display: inline-block;
			border-radius: 5px;
			border: 1px solid #ffffff;
			color: #ffffff;
			margin-top: 4px;
			padding: 3px 7px;
			text-decoration: none;

			&:hover{
				background-color: #ffffff;
				color: $wwd-green;
			}
		}
	}
	.site-content{
		background: none;

		.content-area h1{
			text-align:center;
			color: #000000;

			@media screen and (max-width: 500px){
				margin-top: 100px;
		    }

			.homepageTitle{
				display:block;
				color: $wwd-green;

				strong{
					color: $wwd-purple;
				}
			}
		}
	}
	.topContent{
		text-align: center;
    	margin: 40px auto 20px auto!important;
    	float: none!important;
	}
	.homepageContent{

		.homepageStep{
			padding-top: 230px;
			padding-bottom: 150px;
			background: url(./images/stappenBg.jpg) center no-repeat;
			background-size: cover;

			@media screen and (max-width: 500px) {
				margin-top: -100px;
			}

			.left{
				display: block;
				@include span(4 of 12);
				@include push(1);
			    margin-bottom: 170px;
			    position: relative;

				@media screen and (max-width: 500px) {
					@include span(12 of 12);
					@include push(0);

					h2, p{
						width: 50%;
					}
				}

			    p{
			    	color: #ffffff;
			    }
			}
			.right{
				display: block;
				@include span(4 of 12);
				@include push(7);
			    margin-bottom: 100px;
			    position: relative;

			    @media screen and (max-width: 500px) {
					@include span(last 6 of 12);
					@include push(0);
				}

			    p{
			    	color: #ffffff;
			    }
			}
			
			h2{
				.trans{
					opacity: 0.5;
				}
				strong{
					color: #ffffff;
				}


			}
			.HpArts{
				position: absolute;
				display: block;
				width: 200px;
				margin-left: -200%;
    			margin-top: -250px;

				img{
					max-width: 100%;
				}

				@media screen and (max-width: 500px) {
					margin-left: -102%;
				}
			}
			
			.HpBankier{
				position: absolute;
				display: block;
				width: 200px;
				margin-left: 210%;
    			margin-top: -230px;

				img{
					max-width: 100%;
				}

				@media screen and (max-width: 500px) {
					margin-left: 60%;
				}
			}

			.HpArtiest{
				position: absolute;
				display: block;
				width: 200px;
				margin-left: -100%;
    			margin-top: -200px;



				img{
					max-width: 100%;
				}
			}

		}
		.contentSection{
			text-align: center;
			background: url(./images/contentFooterBg.jpg) no-repeat;
			background-position: center bottom;
			background-size: 100%;
			padding-top: 80px;

			@media screen and (max-width: 500px) {
				padding-top: 40px;
			}

			.profileblock{
				text-align: center;
				margin-top: 70px;
				padding-bottom: 130px;

				@media screen and (max-width: 550px) {
					padding-bottom: 80px;
					margin-top: 30px;
				}

				ul{
					list-style-type: none;
					margin-left: 0px;
				    -webkit-margin-before: 0em;
				    -webkit-margin-after: 0em;

					@media screen and (max-width: 550px) {
						margin: 0px 20px;
					}

					li{
						display: inline-block;
							-webkit-transform: matrix(1.014,-0.451,-0.003,0.988,0,0);
							-moz-transform: matrix(1.014,-0.451,-0.003,0.988,0px,0px);
							-ms-transform: matrix(1.014,-0.451,-0.003,0.988,0,0);
							-o-transform: matrix(1.014,-0.451,-0.003,0.988,0,0);
							transform: matrix(1.014,-0.451,-0.003,0.988,0,0);

						@media screen and (max-width: 550px) {
							display: block;
							transform: none;
						}

						a{
							text-decoration: none;
							display: inline-block;
							color: #ffffff;
							padding: 10px 35px;
							line-height: 19px;
							margin-left: -47px;
							text-transform: uppercase;

							@media screen and (max-width: 550px) {
								margin-left: 0px;
								display: block;
								transform: none;
								margin-bottom: 10px;
							}

							&:hover{
								cursor: pointer;
							}
						
							&.green{
								background-color: $wwd-green;
								color: #ffffff;

								&:hover{
									background-color: darken($wwd-green, 10%);
								}
							}
							&.blue{
								background-color: $wwd-blue;
								color: #ffffff;

								&:hover{
									background-color: darken($wwd-blue, 10%);
								}
							}
							&.pink{
								background-color: $wwd-pink;
								color: #ffffff;

								&:hover{
									background-color: darken($wwd-pink, 10%);
								}
							}
							&.yellow{
								background-color: $wwd-yellow;
								color: #ffffff;
								margin-left: -91px;

								@media screen and (max-width: 550px) {
									margin-left: 0px;
								}
								&:hover{
									background-color: darken($wwd-yellow, 10%);
								}
							}
						}
					}
				}
			}
		}
	}
}
/*--------------------------------------------------------------
# Workshop keuze pagina
--------------------------------------------------------------*/
.page-template-Workshopkiezen{
	position: relative;

	.site-content{
		background: url('./images/headers/workshopheader.png') no-repeat center bottom;
		position: absolute;
		z-index: 9999;
	    padding-bottom: 60px;
	    max-width: 1200px;

	    @media screen and (max-width: 500px) {
	    	padding-bottom: 90px;
	    }

		article{
			h1{
				color: #ffffff;
			}
			h3{
				color: rgba(0,0,0,0.5);
			}
			p{
				color: #ffffff;
			}
		}
	}
	.workshopSection{
		position: relative;
		z-index: 1;
		
		#workshops{
			@include span(last 9 of 12);
			padding-top: 475px;
			padding-right: 100px;

			@media screen and (max-width: 960px) {
				@include span(last 8 of 12);
				padding-right: 25px;
				padding-left:25px;
			}
			@media screen and (max-width: 768px) {
				@include span(12 of 12);
				padding:20px;
			}

			h2{
				width: 100%;
				color: #ffffff;
				margin-left: 10px;
			}
		}
		#keuze-sidebar{
			@include span(3 of 12);
			padding-top: 475px;
			padding-bottom: 20px;

			@media screen and (max-width: 960px) {
				@include span(4 of 12);
			}
			@media screen and (max-width: 768px) {
				@include span(12 of 12);
				padding-top: 425px;
			}
			@media screen and (max-width: 500px) {
		    	padding-top: 400px;
		    }

			fieldset{
				border: 0px;
			}
			section.keuzeType h3{
				color: $wwd-blue;
			}
			section.keuzeSector{
				margin-top: 30px;
				padding-left: 20px;

				h3{
					color: $wwd-green;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Profielen pagina
--------------------------------------------------------------*/
.page-template-page-profielen{
	.profileblock{
		text-align: center;
		margin-top: 70px;
		padding-bottom: 130px;

		@media screen and (max-width: 550px) {
			padding-bottom: 80px;
			margin-top: 30px;
		}

		ul{
			list-style-type: none;
			margin-left: 0px;
		    -webkit-margin-before: 0em;
		    -webkit-margin-after: 0em;

			@media screen and (max-width: 550px) {
				margin: 0px 20px;
			}

			li{
				display: inline-block;
					-webkit-transform: matrix(1.014,-0.451,-0.003,0.988,0,0);
					-moz-transform: matrix(1.014,-0.451,-0.003,0.988,0px,0px);
					-ms-transform: matrix(1.014,-0.451,-0.003,0.988,0,0);
					-o-transform: matrix(1.014,-0.451,-0.003,0.988,0,0);
					transform: matrix(1.014,-0.451,-0.003,0.988,0,0);

				@media screen and (max-width: 550px) {
					display: block;
					transform: none;
				}

				a{
					text-decoration: none;
					display: inline-block;
					color: #ffffff;
					padding: 10px 35px;
					line-height: 19px;
					margin-left: -47px;
					text-transform: uppercase;

					@media screen and (max-width: 550px) {
						margin-left: 0px;
						display: block;
						transform: none;
						margin-bottom: 10px;
					}

					&:hover{
						cursor: pointer;
					}
				
					&.green{
						background-color: $wwd-green;
						color: #ffffff;

						&:hover{
							background-color: darken($wwd-green, 10%);
						}
					}
					&.blue{
						background-color: $wwd-blue;
						color: #ffffff;

						&:hover{
							background-color: darken($wwd-blue, 10%);
						}
					}
					&.pink{
						background-color: $wwd-pink;
						color: #ffffff;

						&:hover{
							background-color: darken($wwd-pink, 10%);
						}
					}
					&.yellow{
						background-color: $wwd-yellow;
						color: #ffffff;
						margin-left: -91px;

						@media screen and (max-width: 550px) {
							margin-left: 0px;
						}
						&:hover{
							background-color: darken($wwd-yellow, 10%);
						}
					}
				}
			}
		}
	}
}
/*--------------------------------------------------------------
# Formulier pagina
--------------------------------------------------------------*/
.page-template-formulier, .page-template-vragenlijst{
	position: relative;

	.site-content{
		background: url('./images/headers/formulierheader-2.jpg') no-repeat center -10px;
		background-size: 100%;
	    padding-bottom: 60px;

	    @media screen and (max-width: 1100px) {
	    	background: url('./images/headers/formulierheader-2.jpg') no-repeat center -10px;
	    }

	    @media screen and (max-width: 960px) {
	    	background: url('./images/headers/formulierheader-2.jpg') no-repeat center -10px;
	    }

	    article{
			h1{
				color: #ffffff;
			}
			h3{
				color: rgba(0,0,0,0.5);
			}
			p{
				color: #ffffff;
			}
		}
		.contentSection{
			margin-top: 30px;
			text-align: center;

			.gform_wrapper{
				width: 75%;
				margin-left: auto;
				margin-right: auto;

				@media screen and (max-width: 960px) {
					width: 80%;
				}

				@media screen and (max-width: 768px) {
					width: 80%;
				}
			}
		}
	}
	.vragenlijstSection{
		padding-left: 150px;
		padding-right: 150px;
		text-align: center;
		margin-top: 50px;

		@media screen and (max-width: 1100px){
			padding-left: 70px;
			padding-right: 70px;			
		}
		@media screen and (max-width: 800px){
			padding-left: 0px;
			padding-right: 0px;			
		}
	}
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea{
	height: 45px;
	text-indent: 10px;
	border: 1px solid #eae8e8!important;
}
.gform_wrapper ul.gfield_checkbox li input[type=checkbox], .gform_wrapper ul.gfield_radio li input[type=radio]{
	margin-top: 3px!important;
    vertical-align: top!important;
    margin-right: 10px!important;
}
.gform_wrapper{

	.gf_progressbar_wrapper{
		display: none;
	}
	form#gform_3{
		text-align: center;
		color: #454545;

		.gsection{
			border-bottom: 0px;
		}
		li.gfield{
			margin-bottom: 15px!important;
			margin-top: 0px;
			text-align: center;

			&:before{
				display: block;
				background: url('./images/next-question.png');
				width: 20px;
				height: 50px;
				background-repeat: no-repeat;
				content: ''!important;
				background-position: bottom; 
			    margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 10px;
			}
			&#field_3_11, &#field_3_20{
				width: 48%;
			    background: #ffffff;
			    padding: 25px 20px;
			    font-size: 12px;
			    display: inline-block;
			    text-align: left;
			    margin-right: 2%;
    			vertical-align: top;
    			border-radius: 10px;
    		}
    		&#field_3_12, &#field_3_27{
    			width: 66%;
			    background: #ffffff;
			    padding: 25px 20px;
			    font-size: 12px;
			    display: inline-block;
			    text-align: left;
			    margin-right: 2%;
    			vertical-align: top;
    			border-radius: 10px;
    		}
    		&#field_3_11, &#field_3_12, &#field_3_20, &#field_3_27{
    			@media only screen and (max-width: 641px){
					width: 100%!important;
					margin-right: 0%;
				}
			}
			&#field_3_22, &#field_3_26{
				padding: 0px;
				margin-bottom: 0px;

				.gfield_label{
					display: none;
				}

				.gchoice_3_22_1,.gchoice_3_26_1{
					margin-right: auto!important;
					margin-left: auto!important;
					
					label{
						padding: 8px 10px!important;
						font-size: 0.8em;
						margin-right: auto!important;
						margin-left: auto!important;
						width: 180px;

						&:after{
							content: '>';
							padding-left: 10px;

						}
					}
				}
			}
			&#field_3_8, &#field_3_9, &#field_3_24{
				.ginput_container{
					background: #ffffff;
				    padding: 20px 10px;
				    border-radius: 7px;

				    label{
				    	text-align: left;
					    text-transform: uppercase;
					    font-weight: bold;
				    }
				}
			}
			&#field_3_23{
				label.gfield_label{
					text-align: left;
					float: left;

					@media screen and (max-width: 768px){
						width: 60%;
					}
				}
				.gfield_description{
					text-align: left;
					position: relative;
					height: 90px;

					@media screen and (max-width: 768px){
						width: 60%;
					}

					&:after{
						content: '&nbsp;';
						font-size: 0px;
					    position: absolute;
					    top: -75px;
					    right: -24px;
					    width: 145px;
					    height: 145px;
					    background: url(/wp-content/themes/wegwijsdag/images/wegwijskrant.png);
					    background-size: 146px;
					    background-repeat: no-repeat;
					    transform: rotate(6deg);
					    box-shadow: 2px 2px 7px 0px #ccc8c8;

					    @media screen and (max-width: 768px){
							 right: -160px;
						}
					}
				}
			}
			.gfield_label{
				padding-top: 12px;
			    font-size: 23px;
			    font-weight: 400;
    			text-transform: uppercase;
    			margin-bottom: 10px;
			}
			.gfield_description{
				margin-bottom: 10px;
			}
			&#field_3_5, &#field_3_7, &#field_3_11, &#field_3_12, &#field_3_18, &#field_3_20,&#field_3_22,&#field_3_26,&#field_3_27{
				&:before{
					display: none;
				}
			}
			.ginput_container{
				
				span{
					label{
						// display: none!important;
					}
				}
				select{
					height: 45px;
					padding-right: 10px;
					background: #ffffff;
					text-indent: 8px;
					color: #666666;
					padding-right: 10px!important;
				}
				.gfield_radio, .gfield_checkbox{
				    display: flex;
				    flex-wrap: wrap;    
				    align-items: stretch;
    				justify-content: space-between;
    				width: 100%;

					&#input_3_2 li{
						width: 32%;
					}

					li{
						display: inline-block;
						width: 48%;

						@media only screen and (max-width: 500px){
							width: 100%!important;
						}

						&:last-child{
							margin-right: 0px;
						}
						
						input{
							display: none;
						}
						label{
							padding: 13px 15px!important;
							display: block;
							background: #ffffff;
							max-width: calc(100% - 5px);
							border: 1px solid;
							border-left: 9px solid;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 1em;
							height: 96%;
							border-radius: 5px;
							transition:all 0.5s linear;

							@media only screen and (max-width: 641px){
								width: 100%!important;
							}
						}
						&:nth-child(1), &:nth-child(5){
							label{
								border-left-color: $wwd-orange;
								color: $wwd-orange;
							}
							input[type=radio]:hover+label, input[type=checkbox]:hover+label{
								box-shadow: inset 450px 0 0 0 lighten($wwd-orange, 35%);
							}
							input[type=radio]:checked+label, input[type=checkbox]:checked+label{
								border-left-color: darken($wwd-orange, 10%);
								border-top: 0px;
								border-right: 0px;
								border-bottom: 0px;
								box-shadow: inset 450px 0 0 0 $wwd-orange;
								color: #ffffff;
							}
						}
						&:nth-child(2), &:nth-child(6){
							label{
								border-left-color: $wwd-green;
								color: $wwd-green;
							}
							input[type=radio]:hover+label, input[type=checkbox]:hover+label{
								box-shadow: inset 450px 0 0 0 lighten($wwd-green, 35%);
							}
							input[type=radio]:checked+label, input[type=checkbox]:checked+label{
								border-left-color: darken($wwd-green, 10%);
								border-top: 0px;
								border-right: 0px;
								border-bottom: 0px;
								box-shadow: inset 450px 0 0 0 $wwd-green;
								color: #ffffff;
							}
						}
						&:nth-child(3), &:nth-child(7){
							label{
								border-left-color: $wwd-blue;
								color: $wwd-blue;
							}
							input[type=radio]:hover+label, input[type=checkbox]:hover+label{
								box-shadow: inset 450px 0 0 0 lighten($wwd-blue, 35%);
							}
							input[type=radio]:checked+label, input[type=checkbox]:checked+label{
								border-left-color: darken($wwd-blue, 10%);
								border-top: 0px;
								border-right: 0px;
								border-bottom: 0px;
								box-shadow: inset 450px 0 0 0 $wwd-blue;
								color: #ffffff;
							}
						}
						&:nth-child(4), &:nth-child(8){
							label{
								border-left-color: $wwd-pink;
								color: $wwd-pink;
							}
							input[type=radio]:hover+label, input[type=checkbox]:hover+label{
								box-shadow: inset 450px 0 0 0 lighten($wwd-pink, 35%);
							}
							input[type=radio]:checked+label, input[type=checkbox]:checked+label{
								border-left-color: darken($wwd-pink, 10%);
								border-top: 0px;
								border-right: 0px;
								border-bottom: 0px;
								box-shadow: inset 450px 0 0 0 $wwd-pink;
								color: #ffffff;
							}
						}
					}
					&#input_3_10 li{
						label{
							border-left-color: $wwd-blue;
							color: $wwd-blue;
						}
						input[type=radio]:hover+label, input[type=checkbox]:hover+label{
								box-shadow: inset 450px 0 0 0 lighten($wwd-blue, 35%);
							}
							input[type=radio]:checked+label, input[type=checkbox]:checked+label{
								border-left-color: darken($wwd-green, 10%);
								border-top: 0px;
								border-right: 0px;
								border-bottom: 0px;
								box-shadow: inset 450px 0 0 0 $wwd-green;
								color: #ffffff;
							}
					}
				}
			}
			
			.gsection_title{
				color: $wwd-pink;
				font-size: 1.5em;
			}
			.ginput_container_address{
				.ginput_full{
					display: block;
					margin-bottom: 5px;
				}
			}
		}
		li#field_1_38{
			padding-bottom: 15px;
			border-bottom: 1px solid #eae8e8;
		}
		li.gf_readonly input{
			background: transparent;
			border: 0px!important;
		}
		.gfield.workshopslist{
			position: relative;
			padding-left: 30px;

			 span.check{
			    background-image: url(././images/workshop-icon-checked.png);
			    width: 20px;
			    height: 20px;
			    display: inline-block;
			    background-size: cover;
			    position: absolute;
			    top: 3px;
			    left: 0px;
			}
		}
		.gform_footer, .gform_page_footer{
			text-align: center;
			border-top: 0px;

			input[type="submit"], input[type="button"]{
				    padding: 27px 27px 27px 27px;
		    		line-height: 1px;
		    		margin-right: 10px;
		    		display: inline-block;

		    		@media only screen and (max-width: 641px){
		    			line-height: 1px!important;
		    		}
			}
			.gform_previous_button{
				padding: 0px;
				background: transparent;
				border: 0px;
			}
		}
	}
}
.gform_wrapper .gfield_error .gfield_label{
	color: #ffffff!important;
    padding-left: 15px!important;
    font-style: italic;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{
	color: #ffffff!important;
	font-style: italic;
}
.gform_wrapper li.gfield_error .gfield_required{
	color: #ffffff!important;
	font-style: italic!important;
	font-size: 16px!important;
    padding-top: 0px!important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
	background-color: rgba(251, 179, 16, 0.76)!important;
    margin-bottom: 6px!important!important;
    border-top: 1px solid $wwd-yellow!important;
    border-bottom: 1px solid $wwd-yellow!important;
}
.gform_wrapper div.validation_error{
    border-top: 1px solid $wwd-yellow!important;
    border-bottom: 1px solid $wwd-yellow!important;
    color: $wwd-yellow!important;	
}
#workshop_submitbar button, .gform_button, .gform_next_button{
    width: 265px;
    height: 31px;
    background-color: #a7c949!important;
    color: #ffffff!important;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 8px 14px;
    border: 0px!important;
    margin: auto;
    display:block;
}
#workshop_submitbar button:hover, .gform_button:hover, .gform_next_button:hover{
    background-color: #88a538!important;
}

.bottomImage{
	height: 92px;
	position: relative;

	@media screen and (max-width: 960px){
		height: 50px;

		img{
			display: none;
		}
	}

	img{
		position: absolute;
	    right: -66px;
	    margin-top: -81px;
	    width: 100px;
	}
}
/*--------------------------------------------------------------
# Wegwijsdag pagina
--------------------------------------------------------------*/
.page-template-wegwijsdag{
	position: relative;

	.site-content{
		background: url('./images/headers/wegwijsdagheader.png') no-repeat center -100px;
		background-size: 100%;
	    padding-bottom: 108px;
	    position: relative;

	    @media screen and (max-width: 1024px) {
	    	background: url('./images/headers/wegwijsdagheader.png') no-repeat center -70px;
	    }

	    @media screen and (max-width: 768px) {
	    	background: url('./images/headers/wegwijsdagheader.png') no-repeat center -70px;
	    }

	    .HpBankier{
	    	position: absolute;
	    	right: 3%;
	    	top:290px;

	    	@media screen and (max-width: 1000px) {
	    		display: none;
	    	}

	    	&:nth-child(2){
	    		right: 13%;
	    		transform: scaleX(-1);
	    	}
	    }


	    .content-area{
	    	margin-top: 150px;
	    	text-align: center;

	    	article{
	    		@include span(8 of 12);
	    		margin-left: auto;
	    		margin-right: auto;
	    		float: none;

	    		@media screen and (max-width: 768px) {
	    			@include span(12 of 12);
	    			float: none;
	    		}
	    	}

	    	h1{
				text-align:center;
				color: #000000;

				.homepageTitle{
					display:block;
					color: $wwd-green;

					strong{
						color: $wwd-purple;
					}
				}
			}
			.topContent{
	    		width: 100%;
	    	}
	    	.contentSection{
	    		margin-top: 50px;
	    		text-align: left;

	    		@media screen and (max-width: 768px) {
	    			margin-top: 100px;
	    		}

	    		.quote{
	    			@include span(6 of 12);
	    			transform: skewY(10deg);
	    			background: #4e3f8e; /* Old browsers */
					background: -moz-linear-gradient(top, #4e3f8e 0%, #00ade6 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, #4e3f8e 0%,#00ade6 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, #4e3f8e 0%,#00ade6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e3f8e', endColorstr='#00ade6',GradientType=0 ); /* IE6-9 */

	    			@media screen and (max-width: 768px) {
	    				@include span(12 of 12);
	    			}

	    			.quoteContent{
	    				transform: skewY(-10deg);
    					padding: 125px 50px 140px 50px;
    					color: #ffffff;


		    			@media screen and (max-width: 768px) {
		    				padding: 30px 50px 30px 50px;
		    			}

    					span{
    						float: right;
    						text-align: right;
    					}
	    			}
	    		}
	    		.todo{
	    			margin-top: 125px;
	    			@include span (last 6 of 12);

	    			@media screen and (max-width: 768px) {
	    				@include span(12 of 12);
	    			}
	    		}
	    		.row:after{
	    			content: "";
				    clear: both;
				    display: block;
	    		}
	    		.row.second{
	    			margin-top: 200px;

	    			@media screen and (max-width: 768px) {
	    				margin-top: 0px;
	    			}

	    			.watDoen{
						@include span(6 of 12);

						@media screen and (max-width: 768px) {
							@include span (12 of 12);
						}
	    			}

	    			.speelDeGame{
	    				@include span (last 6 of 12);

	    				@media screen and (max-width: 768px) {
	    					@include span (12 of 12);
	    					margin-top: 0px;
	    					text-align: center;
	    				}

	    				a{
	    					text-decoration: none;
	    				}
	    			}
	    		}
	    		.row.third{
	    			margin-top: 100px;
	    			.stepOne{
	    				@include span (4 of 12);
	    				
	    				@media screen and (max-width: 768px) {
	    					@include span (12 of 12);
	    				}

	    				p{
	    					padding-left: 25%;
   							padding-top: 20px;
	    				}
	    				a{
	    					color: $wwd-green;

	    					&:hover{
	    						color: $wwd-blue;
	    					}
	    				}
	    			}
	    			.stepTwo{
	    				@include span (4 of 12);

	    				@media screen and (max-width: 768px) {
	    					@include span (12 of 12);
	    				}

	    				p{
	    					padding-left: 25%;
   							padding-top: 20px;
	    				}
	    			}
	    			.stepThree{
	    				@include span (last 4 of 12);

	    				@media screen and (max-width: 768px) {
	    					@include span (12 of 12);
	    				}

	    				p{
	    					padding-left: 25%;
   							padding-top: 20px;
	    				}
	    			}
	    			h5{
	    				transform: skewY(-12deg);
	    			}
	    			.green{
	    				color: $wwd-green;
	    			}
	    			.pink{
	    				color: $wwd-pink;
	    			}
	    			.blue{
	    				color: $wwd-blue;
	    			}
	    		}
	    		.row.four{
	    			margin-top: 100px;

	    			.intro{
	    				@include span(6 of 12);
	    			}
	    			.rigthImage{
	    				@include span(last 6 of 12);
	    				text-align: center;

	    				img{
	    					max-height: 200px;
	    				}
	    			}
	    			.fotoBlok{
	    				display: flex;
	    				flex-wrap: wrap;
	    				justify-content: space-between;
	    				justify-items: stretch;
	    				clear: both;

	    				div{
	    					width: 32%;
    						height: 200px;
    						background-color: #908e8e;
    						margin-bottom: 2%;

    						@media screen and (max-width: 768px) {
		    					width: 32%;
		    					margin-bottom: 2%;

		    					&.blockSeven,&.blockEight{
		    						display: none;
		    					}
		    				}
		    				@media screen and (max-width: 550px) {
		    					width: 49%;
		    					margin-bottom: 2%;

		    					&.blockSeven,&.blockEight{
		    						display: none;
		    					}
		    				}

		    				&.blockOne{
		    					background: url('./images/impressie/impressie-2019-1.jpg') no-repeat center center;
		    					background-size: cover;
		    				}
		    				&.blockTwo{
		    					background: url('./images/impressie/image2.jpg') no-repeat center center;
		    					background-size: cover;
		    				}
		    				&.blockThree{
		    					background: url('./images/impressie/image3.jpg') no-repeat center center;
		    					background-size: cover;
		    				}
		    				&.blockFour{
		    					background: url('./images/impressie/image4.jpg') no-repeat center center;
		    					background-size: cover;
		    				}
		    				&.blockFive{
		    					background: url('./images/impressie/impressie-2019-2.jpg') no-repeat center center;
		    					background-size: cover;
		    				}
		    				&.blockSix{
		    					background: url('./images/impressie/image6.jpg') no-repeat center center;
		    					background-size: cover;
		    				}
	    				}
	    			}
	    		}
	    	}
	    }
	}
}
/*--------------------------------------------------------------
# Bedankpagina
--------------------------------------------------------------*/
.page-template-bedank{
	position: relative;

	.site-content{
		background: url('./images/headers/bedankheader.jpg') no-repeat center -180px;
		background-size: 100%;
	    padding-bottom: 108px;

	    .content-area{
	    	margin-top: 0px;
	    	text-align: center;

	    	img{
	    		max-width: 60%;
	    	}
	    	h1{
				text-align:center;
				color: #000000;

				.homepageTitle{
					display:block;
					color: $wwd-green;

					strong{
						color: $wwd-purple;
					}
				}
			}
			.topContent{
	    		width: 100%;

	    		a.btn{
	    			color: $wwd-pink!important;

	    			&:hover{
	    				color: #ffffff!important;
	    			}
	    		}
	    	}
	    }
	}
}
/*--------------------------------------------------------------
# game pagina
--------------------------------------------------------------*/
.page-template-game{
	.site-content{
		position: relative;


		article{
			h1{
				color: $wwd-green;
			}
			h3{
				color: rgba(0,0,0,0.5);
			}
			p{
				color: #000000;
			}
		}
		.contentSection{
			margin-top: 50px;
			margin-bottom: 140px;

			a.btn{
				margin: 20px 0px 40px 0px;
			}
		}
		.contentItems{
			margin-top: 20px;
		}

	}
}
.webgl-content{
	position: relative!important;
	top: auto!important;
    left: auto!important;
    -webkit-transform: none!important;
    transform: none!important;
    margin-bottom: 35px!important;
}

/*--------------------------------------------------------------
# contactpagina
--------------------------------------------------------------*/
.page-template-contact{
	.site-content{
		background: url('./images/headers/contactheader.png') no-repeat center -70px;
		background-size: 100%;

		@media screen and (max-width: 960px) {
			background: url('./images/headers/contactheader.png') no-repeat center -135px;
		}


		@media screen and (max-width: 768px) {
			background: url('./images/headers/contactheader.png') no-repeat center -150px;
		}
		@media screen and (max-width: 500px) {
			background: url('./images/headers/contactheader.png') no-repeat center -240px;
		}

		article{
			h1{
				color: #ffffff;
			}
			h3{
				color: rgba(0,0,0,0.5);
			}
			p{
				color: #ffffff;
			}
		}
		.contentSection{
			margin-top: 70px;

			.gform_wrapper{
				width: 75%;
				margin-left: auto;
				margin-right: auto;

				@media screen and (max-width: 960px) {
					width: 80%;
				}

				@media screen and (max-width: 768px) {
					width: 80%;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer{
	@extend %sectionPaddings;
	background: #333333;
	color: #ffffff;
    position: relative;

	.menu li a{
		color: #ffffff;
	}

	.footerFirstRow{
		padding-top: 10px;
		padding-bottom:10px;

		&:after{
			content: "";
			clear: both; 
			display: block;
		}
		.footerLogo{
			@include span(4 of 12);

			@media screen and (max-width: 500px) {
				@include span(12 of 12);
				text-align: center;
			}

			a{
				height: 80px;
			    margin-top: -22px;
			    width: 180px;
			    display: inline-block;
			
				img{
					max-height: 100%;
				}
				@media screen and (max-width: 768px){
					margin-top: 0px;
				}
			}
		}

		.logosScholen{
			@include span(last 8 of 12);
			text-align: right;
			padding:7px 0px 0px 0px;

			@media screen and (max-width: 500px) {
				@include span(12 of 12);
				text-align: center;
				padding: 40px 0px 0px 0px;
			}

			img{
				width: 50%;

				@media screen and (max-width: 768px) {
					width: 75%;
				}
			}
		}
	}
	.footerSecondRow{
		padding-top: 20px;
		padding-bottom:20px;
		border-top: 1px solid #b2b2b2;

		&:after{
			content: "";
			clear: both; 
			display: block;
		}

		.footerMenu{
			@include span(8 of 12);
			text-align: left;
			@include font-size-h6;

			@media screen and (max-width: 768px) {
				@include span(12 of 12);
				text-align: center;
			}

			ul{
				li{
					display: inline-block;

					@media screen and (max-width: 500px) {
						display: block;
						padding: 10px;
					}

					a{
						color: #b2b2b2;

						&:hover{
							color: #ffffff;
							border-bottom: 1px solid #ffffff;
						}
					}
				}
				ul.sub-menu{
		    	 	display: none;
		    	}
			}
		}
		.discMenu{
			@include span(last 4 of 12);
			text-align: right;


			@media screen and (max-width: 768px) {
				@include span(12 of 12);
				text-align: center;
			}

			a{
				font-family: $titleFont;
				@include font-weight-small;
				@include font-size-h6;
				color: #b2b2b2;
				font-size: 13px;

				&:hover{
					color: #ffffff;
					border-bottom: 1px solid #ffffff;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	height: auto;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}



/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Shiftnav Menu
--------------------------------------------------------------*/
// a.shiftnav-toggle{
// 	text-decoration: none;
// 	border-radius: 5px;
// 	background: rgba(75, 75, 75, 0.3);
// 	float: right;
// 	margin: 11px 0px 5px 0px;

// 	&:hover{
// 		background: darken($brightblue, 10%);
// 	}

// 	@media screen and (min-width: 769px){
// 		display: none !important;
// 	}
// }
span.menuTitle{
	color: #ffffff;
    font-size: 20px;
    padding-top: 11px;
    padding-left: 26px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    background: $wwd-blue;
    border-bottom: 1px solid #24aae4;
}
.shiftnav .shiftnav-panel-close{
	background: transparent!important;

	i{
		color: #ffffff!important;
		font-size: 17px!important;
	}
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target{
	background:$wwd-blue;
}
.shiftnav{
	@include font-size-h4;
    background: $wwd-blue !important;
    padding: 20px 0px;

	ul.shiftnav-menu{
		font-weight: 700;
		padding: 20px 0px !important;

		li.menu-item{
			padding-bottom: 12px !important;

			span.shiftnav-submenu-activation{
				background: transparent!important;
				color: #ffffff!important;
			}

			ul.sub-menu{
				background: transparent;
				margin-bottom: 15px;

				li{
					padding: 0px 0px 0px 0px !important;

					a{
						opacity: 0.75;
						font-weight: 500 !important;
						padding-left: 45px!important;

					}

				}
			}

			a{
				font-size: 18px !important;
				font-weight: 700 !important;
				color: white !important;

				&:hover{
					background: rgba(41, 41, 41, 0.1);
				}
			}
		}
	}

	&:after{
		box-shadow: 0 0 15px rgba(0,0,0,.3) !important;
	}
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-active > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-in-transition > .shiftnav-target{
	background: darken($wwd-blue, 5%)!important;
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target{
	background: darken($wwd-blue, 10%)!important;
	a{
		opacity: 1;
	}
}

.shiftnav-site-title{
	display: none;
}

.shiftnav ul.shiftnav-menu li.menu-item>.shiftnav-target{
	padding: 5px 25px !important
}

