/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
$titleFont: 'Montserrat', sans-serif;
$fontBody:'Lato', sans-serif;

*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'wegwijsdag-icons';
  src: url('./font/wegwijsdag-icons.eot?88578582');
  src: url('./font/wegwijsdag-icons.eot?88578582#iefix') format('embedded-opentype'),
       url('./font/wegwijsdag-icons.woff?88578582') format('woff'),
       url('./font/wegwijsdag-icons.ttf?88578582') format('truetype'),
       url('./font/wegwijsdag-icons.svg?88578582#wegwijsdag-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------------------------------------
# Font size mixins
--------------------------------------------------------------*/
@mixin font-size-h1{
	font-size: 41px;
	line-height:1;

	@media screen and (max-width: 993px){
		font-size: 35px;
	}

	@media screen and (max-width: 769px){
		font-size: 30px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 35px;
	// }
}

@mixin font-size-h2{
	font-size: 26px;
	line-height:1.1;

	@media screen and (max-width: 993px){
		font-size: 24px;
	}

	@media screen and (max-width: 769px){
		font-size: 20px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 30px;
	// }
}

@mixin font-size-h3{
	font-size: 17px; 
	line-height:1;

	@media screen and (max-width: 993px){
		font-size: 17px;
	}

	@media screen and (max-width: 769px){
		font-size: 15px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 20px;
	// }
}

@mixin font-size-h4{
	font-size: 24px;
	line-height:1;

	@media screen and (max-width: 993px){
		font-size: 22px;
	}

	@media screen and (max-width: 769px){
		font-size: 19px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 17px;
	// }
}

@mixin font-size-h5{
	font-size: 18px;
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 17px;
	}

	@media screen and (max-width: 769px){
		font-size: 16px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 15px;
	// }
}

@mixin font-size-h6{
	font-size: 12px;
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 11px;
	}

	@media screen and (max-width: 769px){
		font-size: 10px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 13px;
	// }
}

@mixin font-size-p{
	font-size: 16px;
	line-height:1.5;

	@media screen and (max-width: 993px){
		font-size: 14px;
	}

	@media screen and (max-width: 769px){
		font-size: 14px;
	}

	// @media screen and (max-width: 577px){
	// 	font-size: 15px;
	// }
}

/*--------------------------------------------------------------
# Font weight mixins
--------------------------------------------------------------*/
@mixin font-weight-small{
	font-weight: 300;
}

@mixin font-weight-regular{
	font-weight: 500;
}

@mixin font-weight-bold{
	font-weight: 700;
}
@mixin font-weight-black{
	font-weight: 900;
}

/*--------------------------------------------------------------
# Transform
--------------------------------------------------------------*/

.text-uppercase{
	text-transform: uppercase;
}

/*--------------------------------------------------------------
# Typo standards
--------------------------------------------------------------*/
body{
	font-family: $fontBody;
	@include font-size-p;
}
.btn{
	@include font-weight-bold;
	@extend .text-uppercase;
}

h1{
	@include font-size-h1;
	@include font-weight-regular;
	@extend .text-uppercase;
}
.home h1, body.page-template-bedank h1, .page-template-wegwijsdag h1{
	@include font-size-h2;

	.homepageTitle{
		font-family: $titleFont;
		font-size: 66px;
		line-height:58px;
		
		@media screen and (max-width: 500px){
			font-size: 55px;
		}

		strong{
			@include font-weight-black;

			@media screen and (max-width: 500px){
				display: block;
			}
		}
	}
}


h2{
	@include font-size-h2;
	@include font-weight-regular;
	@extend .text-uppercase;
}

h3{
	@include font-size-h3;
	@include font-weight-bold;
	@extend .text-uppercase;
}

h4{
	@include font-size-h4;
	@include font-weight-regular;
}

h5{
	@include font-size-h5;
	@include font-weight-regular;
}
.row.third h5{
	@include font-weight-bold;
    @extend .text-uppercase;
    font-size: 40px;
}

h6{
	@include font-size-h6;
	@include font-weight-small;
}

p{
	@include font-size-p;
	@include font-weight-regular;
}
.topContent p{
	@include font-size-p;
	@include font-weight-regular;
	line-height: 1.9;
}

h1, h2, h3, h4, h5, h6, p{
	padding: 0px;
	margin: 8px 0%;

	b, bold, strong{
		@include font-weight-bold;
	}
}





